body {
    display : flex;
    flex-direction : column;
    margin : 0;
    padding : 0; 
    height: 100%;
}

.header {
    font-size: 60px;
    font-family: "Black Ops One";
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #92a8d1;
    text-align: center;
    flex: 1;
    animation: someAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}

@keyframes someAnimation {
    from {opacity: 20%;}
    to {opacity: 100%;}
}

.buttonsContainer {
    padding-top: 30px;
    padding-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
}

.button {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.roundResult {
    font-size: 40px;
    font-family: 'Black Ops One';
    text-align: center;
    background-color: #b2b2b2;
    padding-top: 50px;
    padding-bottom: 50px;
    flex: 1;
    padding-left: 100px;
    padding-right: 100px;
}

.score  {
    padding: 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-color:steelblue;
    color: aliceblue;
}

.again {
    background-color: #b2b2b2;

}

.againContainer {
    background-color: #b2b2b2;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    flex: 0;
    background-color: black;
    color: white;
    font-size: 12px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
}

.paper {
    transform: rotate(-20deg);
    position: relative;
    bottom: -20px;
    max-height: 250px;
    width: auto;
}

.scissors {
    transform: rotate(20deg);
    position: relative;
    bottom: -20px;
    max-height: 250px;
    width: auto;
}

.rock {
    max-height: 250px;
    width: auto;
}